/* code from original codepen: https://codepen.io/ThatMartianDev/pen/LYBgNxp
.main {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1%;
  width: 99%;
  margin: auto;
}
*/

body {
  font-family: 'Inter', sans-serif;
}

h1 {
  font-weight: 900;
}

/* Header stuff below: */

/* override browser default */
html,
body {
  margin: 0;
  padding: 0;
}

/* use viewport-relative units to cover page fully */
body {
  height: 100vh;
  width: 100vw;
}

/* include border and padding in element width and height */
* {
  box-sizing: border-box;
}

/* full-sized  container that fills up the page */
.fullbox {
  height: 100%;
  width: 100%;

  /* example padding, font-size, background, etc */
  padding: 0px;
  font-size: 20px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Header stuff above */
