/* Fonts: Dirtyline36Daysoftype2022 and Inter */

:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

@font-face {
  font-family: 'Dirtyline3622';
  src: url('https://swaggy.dev/bread/fonts/Dirtyline 36daysoftype 2022.eot'); /* IE9 Compat Modes */
  src: url('https://swaggy.dev/bread/fonts/Dirtyline 36daysoftype 2022.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://swaggy.dev/bread/fonts/Dirtyline 36daysoftype 2022.woff') format('woff'), /* Modern Browsers */
       url('https://swaggy.dev/bread/fonts/Dirtyline 36daysoftype 2022.woff2') format('woff2'), /* Modern Browsers */
       url('https://swaggy.dev/bread/fonts/Dirtyline 36daysoftype 2022.ttf') format('truetype'); /* Safari, Android, iOS */
           font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Overriding browser defaults */
html, body {margin: 0; padding: 0;}
* {box-sizing: border-box;}

body {
  /* use viewport-relative units to cover page fully */
  height: 100vh;
  width: 100vw;
  /* Make footer function */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* full-sized  container that fills up the page */
.fullbox {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* example padding, font-size, background, etc */
  padding: 0px;
  font-size: 20px;
  font-weight: 900;
  font-family: 'Dirtyline3622', sans-serif;
}

/* For the footer (thanks to https://codepen.io/acordova/pen/WxepQb) */
.content {
  flex: 1;
}

footer {
  text-align: center;
  padding: 5px;
  background: #DEC7FA;
  a:link {
    color: #301934;
    text-decoration: wavy underline;
  }
  ul > li {
    display: inline;
    padding: 0 5px;
  
  }
}

/* Code that wasn't required goes here 😴 for safe keeping I guess 🔐 */
/* some code for header from codepen: https://codepen.io/ThatMartianDev/pen/LYBgNxp
.main {display: grid; grid-template-columns: 1fr; column-gap: 1%; width: 99%; margin: auto;} */